#set allowInputChange 1
#set animatedTreads 1
#set aniso 1
#set baseTopTexture basetop
#set baseWallTexture basewall
set blend 1
#set blueTeamPrefix blue_
#set boltTexture bolt
#set boxTopTexture roof
#set boxWallHighResTexRepeat 5.0
#set boxWallTexRepeat 1.5
#set boxWallTexture boxwall
set callsign lg-live
#set cautionTexture caution
#set coloredradarshots 1
#set colorful 1
#set consoleFont VeraMonoBold
#set cpanelfontsize 0
#set deathEffect 1
set directory /opt/data/bzflag/data/share/bzflag/
#set displayFlagHelp 1
#set displayReloadTimer 1
#set displayScore 1
#set displayZoom 1
set dither 1
#set doDownloads 1
set email lg-live@net
#set emailDispLen 32
#set enableLocalShotEffect 0
#set enableLocalSpawnEffect 1
#set f2bsort 1
set flagChunks 12
#set flagLists 0
#set fogEffect 1
#set fpsLimit 30
set gamma 1.018268
#set gmPuffEffect 2
#set gmPuffTime 1/8
#set greenTeamPrefix green_
#set groundHighResTexRepeat 0.05
#set groundTexRepeat 0.1
#set hideEmails 0
#set highlightPattern ""
#set httpTimeout 15
#set hudGUIBorderOpacityFactor 0.75
#set hunterTeamPrefix hunter_
#set jumpTyping 1
#set killerhighlight 1
#set landEffect 1
#set laserTexture laser
#set lastScreenshot 0
#set latitude 37.5
#set leadingShotLine 0
#set lightLists 0
set lighting 1
#set linedradarshots 0
#set list http://my.BZFlag.org/db/
#set listIcons 1
#set lodScale 1.0
#set longitude 122
#set maxCacheMB 32
#set maxTextureSize 512
#set meshLists 1
set moonSegments 24
#set motdServer http://bzflag.org/motd.php
#set mouseboxsize 5
#set noMeshClusters 0
#set observerTeamPrefix observer_
set panelopacity 0.300000
#set password ""
set port 5667
#set pulseDepth 0.4
#set pulseRate 1.0
#set purpleTeamPrefix purple_
#set pyrWallHighResTexRepeat 8.0
#set pyrWallTexRepeat 3.0
#set pyrWallTexture pyrwall
set quality high
#set rabbitTeamPrefix rabbit_
#set radarLodScale 1.0
#set radarStyle 3
#set radarTankPixels 2.0
#set radarsize 4
#set redTeamPrefix red_
#set remoteSounds 1
set resolution "1280x1024    "
#set ricoEffect 1
#set roamSmoothTime 0.5
#set rogueTeamPrefix rogue_
#set sansSerifFont TogaSansBold
#set saveEnergy 0
#set saveIdentity 2
#set saveSettings 1
#set scorefontsize 0
#set scrollPages 20
#set serifFont TogaSerifBold
set server badgerking.fiedlers.us
#set serverCacheAge 0
#set shadowAlpha 0.5
set shadows 1
#set shotEffect 1
#set showCollisionGrid 0
#set showCoordinates 0
#set showCullingGrid 0
#set showTreads 0
#set showVelocities 0
#set showtabs 2
#set sizedradarshots 0
set smooth 1
#set spawnEffect 1
set startcode bfaaaaabaaaaa
#set stdGroundTexture std_ground
#set stencilShadows 0
#set superPrefix super_
#set tankTexture tank
set team Automatic
set tesselation 1
set texture linearmipmaplinear
#set timedate 0
#set tkwarnratio 0.0
#set tpEffect 1
#set trackMarkCulling 3
#set treadStyle 1
#set udpnet 1
#set underlineColor cyan
#set updateDownloads 0
#set useDrawInfo 1
#set useFancyEffects 1
#set useMeshForRadar 0
set useQuality 2
#set useVelOnShotEffects 1
#set userMirror 1
#set userRainScale 1.0
set userTrackFade 1.000000
#set volume 10
#set waterTexture water
set worldCacheLimit 10485760
#set zbuffer 1
#set zoneGroundTexture zone_ground
bind Pause down pause
bind End down "scrollpanel bottom"
bind "Left Arrow" down "turn left"
bind "Right Arrow" down "turn right"
bind "Up Arrow" down "drive forward"
bind "Down Arrow" down "drive reverse"
bind "Page Up" down "scrollpanel up_page"
bind "Page Down" down "scrollpanel down_page"
bind Delete down destruct
bind F1 down fullscreen
bind Shift+F1 down "messagepanel all"
bind Shift+F2 down "messagepanel chat"
bind Shift+F3 down "messagepanel server"
bind F4 down iconify
bind Shift+F4 down "messagepanel misc"
bind F5 down screenshot
bind F6 down "roam cycle subject backward"
bind F7 down "roam cycle subject forward"
bind F8 down "roam cycle type forward"
bind F9 down "roam zoom in"
bind F10 down "roam zoom out"
bind F11 down "roam zoom normal"
bind F12 down quit
bind "Left Mouse" down fire
bind "Middle Mouse" down drop
bind "Right Mouse" down identify
bind "Wheel Up" down "scrollpanel up 3"
bind "Shift+Wheel Up" down "radarZoom in"
bind "Ctrl+Wheel Up" down "viewZoom in"
bind "Wheel Down" down "scrollpanel down 3"
bind "Shift+Wheel Down" down "radarZoom out"
bind "Ctrl+Wheel Down" down "viewZoom out"
bind Tab down jump
bind Enter down fire
bind Space down drop
bind , down "send nemesis"
bind - down "time backward"
bind . down "send recipient"
bind 1 down "set displayRadarRange 0.25"
bind 2 down "set displayRadarRange 0.5"
bind 3 down "set displayRadarRange 1.0"
bind 4 down "radarZoom in"
bind 5 down "radarZoom out"
bind 7 down addhunt
bind 9 down autopilot
bind = down "time forward"
bind A down "toggle slowKeyboard"
bind B down "viewZoom toggle"
bind F down "toggle displayFlagHelp"
bind H down "toggleFlags radar"
bind I down identify
bind J down "toggleFlags main"
bind K down silence
bind L down "toggle displayLabels"
bind M down "send team"
bind N down "send all"
bind O down servercommand
bind P down pause
bind Q down toggleRadar
bind S down "toggle displayScore"
bind U down hunt
bind W down toggleConsole
bind Z down "send admin"
bind "Left Arrow" up "turn left"
bind "Right Arrow" up "turn right"
bind "Up Arrow" up "drive forward"
bind "Down Arrow" up "drive reverse"
bind F9 up "roam zoom in"
bind F10 up "roam zoom out"
bind F11 up "roam zoom normal"
bind "Left Mouse" up fire
bind "Right Mouse" up restart
bind Tab up jump
bind Enter up fire
bind I up restart
